#register, #login {
    width: 300px;
    display: flex;
    flex-direction: column;
}

#register input, #login input {
    margin: 3px;
}

#errors {
    display: none;
    background: indianred;
    border: solid 2px red;
    width: 318px;
    margin-bottom: 3px;
    padding: 3px;
    color: darkred;
}

#success {
    display: none;
    background: lightgreen;
    border: solid 2px green;
    width: 318px;
    color: darkgreen;
}

/*Mettre les formulaires au centre de l'écran*/
#formContainer {
    flex-direction: column;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*NAVBAR*/
body {
    margin: 0;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: right;
    font-size: 16px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:first-child {
    float: left;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: dimgray;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    text-align: center;
}

.dropdown:hover .dropdown_content {
    display: block;
}

/*INDEX*/

#section1Index {
    box-sizing: border-box;
    border: 2px solid black;
    width: calc(75% - 14px);
    padding: 10px;
    margin: 7px;
    float: left;
}

#buttonIndex {
    box-sizing: border-box;
    border: 2px solid black;
    padding: 10px;
    width: calc(25% - 14px);
    margin: 7px;
    float: left;
}

#footIndex {
    clear: both;
    position: fixed;
    width: 100%;
    bottom: 0;
}
